body {
  font: 100% Helvetica, sans-serif;
  color: #333333;
  // font-size: calc(1em + 1vw);
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid > * {
  flex-basis: 10em;
  flex-grow: 1;
}

.app {
  margin-top: 20px;
}

h1 {
  .tagline {
    display: block;
    font-size: .5em;
    font-weight: 100;
    margin-top: 2px;
  }
}

.hidden {
  display: none;
}